# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
my_dict = {
    'evolution': ["Ivisaur", "Charmeleon", "Wartortle", "Metapod"],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

### Step 3. Assign it to a variable called pokemon

In [4]:
pokemon = pd.DataFrame(my_dict)
pokemon

    evolution  hp        name pokedex   type
0     Ivisaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [5]:
column_names = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon = pokemon.reindex(columns=column_names)
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivisaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [7]:
place = pd.Series(['Tokyo', 'Hokkaido', 'Osaka', 'Okinawa'])
pokemon.insert(5, 'place', place)
pokemon

         name   type  hp   evolution pokedex     place
0   Bulbasaur  grass  45     Ivisaur     yes     Tokyo
1  Charmander   fire  39  Charmeleon      no  Hokkaido
2    Squirtle  water  44   Wartortle     yes     Osaka
3    Caterpie    bug  45     Metapod      no   Okinawa

### Step 6. Present the type of each column

In [8]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [10]:
# change the position of inserted column
column_names = ['name', 'type', 'hp', 'evolution', 'place', 'pokedex']
pokemon = pokemon.reindex(columns=column_names)
pokemon

         name   type  hp   evolution     place pokedex
0   Bulbasaur  grass  45     Ivisaur     Tokyo     yes
1  Charmander   fire  39  Charmeleon  Hokkaido      no
2    Squirtle  water  44   Wartortle     Osaka     yes
3    Caterpie    bug  45     Metapod   Okinawa      no